html, body { 
	height: 100%;
	margin: 0; 
	padding: 0;
}

body {
	visibility: hidden;
	font-family: 'Open Sans', sans-serif;
  background-color: #FFF6F0;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#brand {
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  background: #006b43;
  width: 300px;
  padding: 12px 20px 6px;
  z-index: 100;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 6px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 6px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 6px 2px rgba(0, 0, 0, 0.3);
    background-image: -webkit-linear-gradient(top,  #00361c, #006e3b); 
  background-image:    -moz-linear-gradient(top,  #00361c, #006e3b); 
  background-image:      -o-linear-gradient(top,  #00361c, #006e3b);
  background-image:         linear-gradient(to bottom, #00361c, #006e3b);
  border-bottom-right-radius: 2em;
  border-bottom-left-radius:  2em;
}

@media all and (max-width: 768px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #brand {
    display: none;
  }
}

#brand a {
  display: block;
  text-decoration: none;
  text-align: center;    
}

.company-name {
  display: inline-block;
  width: 180px;
  height: 80px;
  margin: 0 auto;
	background: url("../images/logo_txt.png") no-repeat 0 0;
  background-size: cover;
	font: 0/0 a;
	text-shadow: none;
	color: transparent; 
}

#brand a .logo {
  display: inline-block;
  width: 56px;
  height: 55px;
  padding-bottom: 5px;   
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
	background: #2a2a2a;
	padding-bottom: 4px;
}

.nav-wrap {
	position: relative;
	border-bottom: 1px solid #4d4843;
}

.primary,
.primary ul,
.primary ul li,
.primary ul li a,
.primary #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.primary:after,
.primary > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.primary #menu-button {
  display: none;
}
.primary {
  font-family: "Lato", sans-serif;
  background: #2a2a2a;
}
.primary ul {
  float: right;
}
.primary > ul > li {
  float: left;
}
.primary.align-center > ul {
  font-size: 0;
  text-align: center;
}
.primary.align-center > ul > li {
  display: inline-block;
  float: none;
}
.primary.align-center ul ul {
  text-align: left;
}
.primary.align-right > ul > li {
  float: right;
}
.primary > ul > li > a {
  padding: 17px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 700;
  text-transform: uppercase;
}
.primary > ul > li:hover > a {
  color: #ffffff;
}
.primary > ul > li.has-sub > a {
  padding-right: 30px;
}
.primary > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
.primary > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.primary > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
.primary ul ul {
  position: absolute;
  left: -9999px;
}
.primary.align-right ul ul {
  text-align: right;
}
.primary ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.primary li:hover > ul {
  left: auto;
}
.primary.align-right li:hover > ul {
  left: auto;
  right: 0;
}
.primary li:hover > ul > li {
  height: 35px;
}
.primary ul ul ul {
  margin-left: 100%;
  top: 0;
}
.primary.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
.primary ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #333333;
}
.primary ul ul li:last-child > a,
.primary ul ul li.last-item > a {
  border-bottom: 0;
}
.primary ul ul li:hover > a,
.primary ul ul li a:hover {
  color: #ffffff;
}
.primary ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
.primary.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
.primary ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.primary.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
.primary ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
@media all and (max-width: 783px) {
  .primary {
    width: 100%;
  }
  .primary ul {
    width: 100%;
    display: none;
  }
  .primary.align-center > ul {
    text-align: left;
  }
  .primary ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  .primary ul ul li,
  .primary li:hover > ul > li {
    height: auto;
  }
  .primary ul li a,
  .primary ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  .primary > ul > li {
    float: none;
  }
  .primary ul ul li a {
    padding-left: 25px;
  }
  .primary ul ul ul li a {
    padding-left: 35px;
  }
  .primary ul ul li a {
    color: #dddddd;
    background: none;
  }
  .primary ul ul li:hover > a,
  .primary ul ul li.active > a {
    color: #ffffff;
  }
  .primary ul ul,
  .primary ul ul ul,
  .primary.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  .primary > ul > li.has-sub > a:after,
  .primary > ul > li.has-sub > a:before,
  .primary ul ul > li.has-sub > a:after,
  .primary ul ul > li.has-sub > a:before {
    display: none;
  }
  .primary #menu-button {
    display: block;
    padding: 17px;
    color: #dddddd;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .primary #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: '';
  }
  .primary #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #dddddd;
    content: '';
  }
  .primary #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .primary #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .primary .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  .primary .submenu-button.submenu-opened {
    background: #262626;
  }
  .primary ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  .primary .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  .primary ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  .primary .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  .primary .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }
  .primary ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  .primary .submenu-button.submenu-opened:before {
    display: none;
  }
}



.current a {
	color: #f58634 !important;
}

.nav-phone {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 3px;
	width: 180px;
	height: 52px;
	background: #aa140a;
	z-index: 100;
	text-align: center;
}

.nav-phone h3 {
	color: #FFF6F0;
	font-size: 20px;
	margin: 0;
}

/* Slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */


#slides {
  position: relative;
  display: block;
  padding: 6rem 7% 1rem 7%;
}

#slides img {
  display: block;
	max-height: 100%;
	
	overflow: hidden;
}

.slides-button {
  position: absolute;
  top: 45%;
  z-index: 100;

}

#slides .slidesjs-previous {
  float: left;
  position: absolute;
  left:2%;
  color: #f47b29;
}

#slides .slidesjs-next {
  float: right;
  position: absolute;
  right:2%
}

#slides a:link, #slides a:visited { color: #333 }

#slides a:hover, #slides a:active { color: #9e2020 }

@media all and (max-width: 768px) {

  #slides {
    padding: 2rem 2% 1rem 2%;
  }

  .fa-chevron-left {
    display: none;
  }
  .fa-chevron-right {
    display: none;
  }
}


/* Inner info
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.slide {
	position: absolute;
	bottom: 0px;
	height: 100%;
}
.inner-info {
	width: 100%;
	height: 55%;
	position: absolute;
	bottom: 0px;
	margin: 0 auto;
	padding-bottom: 0px;
	z-index: 100;
	padding-bottom: 10px;
  -webkit-animation: fadeinout 7s ease-in 0.6s infinite reverse both;
  -moz-animation: fadeinout 7s ease-in 0.6s infinite reverse both;
  -o-animation: fadeinout 7s ease-in 0.6s infinite reverse both;
  animation: fadeinout 7s ease-in 0.6s infinite reverse both;
}


@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  40%, 70% { opacity: 1; }
}

@-moz-keyframes fadeinout {
  0%,100% { opacity: 0; }
  40%, 70% { opacity: 1; }
}

@-o-keyframes fadeinout {
  0%,100% { opacity: 0; }
  40%, 70% { opacity: 1; }
}


@keyframes fadeinout {
  0%,100% { opacity: 0; }
  40%, 70% { opacity: 1; }
}

.info-wrap {
	background-color: rgba(244, 237, 233, 0);
}

.cena-wrap {
	display: block;
  text-shadow: 2px 2px 0px #7c3b00;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 106px;
  font-weight: 900;
  font-style: normal;
  line-height: 132px;
  margin: -16px 0 -26px;
}

.cena, .rsd {
	display: inline;
}

.artikal {
	text-shadow: 1px 2px 0px #7c3b00;
  color: #f47b29;
  font-family: 'Lato', sans-serif;
  font-size: 88px;
  font-weight: 900;
  font-style: normal;
  line-height: 110px;
  letter-spacing: -2px;
  margin-bottom: -4px;
}

.opis {
	font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  font-style: italic;
  line-height: 25px;
}

@media all and (max-width: 1024px) {

  .cena-wrap {
    height: auto;
    line-height: 30px;
  }

  .cena {
    font-size: 52px;
  }

  .rsd {
    font-size: 28px;
  }

  .artikal {
    font-size: 62px;
  }

}
@media all and (max-width: 768px) {

  .cena-wrap {
    height: auto;
    line-height: 30px;
  }

  .cena {
    font-size: 49px;
  }

  .rsd {
    font-size: 20px;
  }

  .artikal {
    font-size: 42px;
  }

  .opis {
    display: none;
  }

}


@media all and (max-width: 550px) {

  .cena-wrap {
    line-height: 60px;
  }

  .inner-info {
    width: 100%;
    height: 60%;
  }

  .cena {
    font-size: 42px;
  }

  .rsd {
    font-size: 32px;
  }

  .artikal {
    font-size: 34px;
    line-height: 60px;
  }

  .opis {
    display: none;
  }


}

/* Sections (izmeniti nazive klasa)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#content-top {
	/*padding: 0.5rem 0 7rem;*/
	background-color: #fff6f0;
}

.top-segment {
	text-align: center;
	padding-bottom: 51px;
}

.welcome-section h3, .welcome-section h6{

	color: #006b43;
	font-family: "Lato", sans-serif;
	letter-spacing: 0.05rem;
}

.welcome-section h3 {
	font-size: 43px;
	font-weight: 900;
	line-height: 50px;
	padding-top: 100px;
}

.welcome-section h6 {
	font-size: 21px;
	font-style: italic;
	line-height: 30px;
	padding-top: 14px;
	padding-bottom: 51px;
}

@media all and (max-width: 550px)  {
  .welcome-section h3 {
    padding-top: 50px;
    font-size: 28px;
    line-height: 34px;
  }

  .welcome-section h6 {
    font-size: 18px;
    line-height: 25px;
  }
}

.border {
	content: "";
	border-bottom: 2px solid #006b43;
	margin: -20px auto 0;
  width: 240px;
  margin-top: -15px;
}

.info-section {
  text-align: center; 
}

.info-heading,
.info-description {
  /*margin-bottom: 1.2rem;*/ 
}

.value-heading {
	color: #d15f27;
	line-height: 30px;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 22px;
}

.value-description {
 	color: #2a2a2a; 
 	line-height: 22px;
 	font-size: 16px;
 	padding-bottom: 41px;
}

.info-kruzici {
	width: 62px;
	height: 76px;

}

#content-midd {
	padding-top: 1em;
  padding-bottom: 28px;
	background-color: #f2f0f0;
	background-image: url("../images/dsc_mini.jpg");
	background-size: cover;
  overflow: auto;
  height: auto;
  text-align: center;
  color: white;
}

#content-midd .welcome-section h3,
#content-midd .welcome-section h6{
	color: #fff6f0;
}

#content-midd .welcome-section p {
	border-bottom-color: #fff6f0;
}
.food-info {
	text-align: center;
	display: block;
	padding-bottom: 71px;
}

.food-img {
  width: 60%;
  height: 60%;
	margin-bottom: 20px;
  border-radius: 50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

.food-info h3 {
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
	color: #f08332;
	font-size: 27px;
	line-height: 30px;
  margin-bottom: 15px;
}

.food-info p {
	color: #fff6f0;
}

#content-bott {
  background-color: #fff6f0;
  padding: 51px 0 51px;
}

#content-bott span {
  font-size: 68px;
  font-weight: 900;
  line-height: 50px;
  font-family: "Lato", sans-serif;
  font-style: italic;
  color: #006B43;
  display: inline-block;
  margin-top: 28px;
}

#content-bott span:first-child {
  color: #F58634;
  margin-right: 2rem;
}

#content-bott p {
  font-family: "Open Sans", sans-serif;
  margin-top: 43px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 50px;
}

.new-cena,
.new-cifra {
  font-family: "Lato", sans-serif !important;
  font-weight: 900;
  display: inline;
}

.new-cena {
  color: #006B43;
  font-size: 32px !important;
}

.new-cifra {
  color: #F58634;
  font-size: 36px !important;
}

@media all and (max-width: 768px){
  .food-img {
    height: 40%;
    width: 40%;
  }

  .food-info {
    padding-bottom: 36px;
  }
} 

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer-wrapper {
	padding-top: 4px;
	background: #2a2a2a;
	
}

footer {
	padding: 24px 0 10px 0;
	margin: 0;
	border-top: 1px solid #4d4843;
}

footer ul {
	margin-top: 50px;
	margin-bottom: 60px;
  float: left;
}

footer ul li {
	line-height: 16px;
	display: block;
	list-style: none;
	font-size: 14px;
}

footer ul li:first-child {
	color: #ebebeb;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 46px;
}

footer ul li a {
	text-decoration: none;
	padding: 0;
	margin: 0;
	line-height: 0;
	color: #ebebeb;
}

footer ul li:hover > a {
	color: #f58634;
}


.social-bott ul {
	margin-top: 100px;
  width: 220px;
}

.social-bott ul li{
	display: inline-block;
	padding: 5px;
	margin-right: 10px;
}

.address {
	color: #ebebeb;
}

.soc-kruzic{
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 0px;
  background: #D15F27;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 25px;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
}

.facebookBtn:before{ 
    font-family: "FontAwesome";
    content: "\f09a";
}

.facebookBtn:hover{
    color: #D15F27;
    background: #fff;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099";
}

.twitterBtn:hover{
      color: #D15F27;
      background: #fff;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
      content: "\f0d5";
}

.googleplusBtn:hover{
      color: #D15F27;
      background: #fff;
}

/*Footer media query*/
@media all and (max-width: 768px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  
  footer {
    padding: 10px 0 40px 0;
  }
  footer ul {
    margin-top: 36px;
    margin-bottom: 0px;
  }
  footer ul li:first-child {
    margin-bottom: 0px;
  }
  footer ul li:first-child h5 {
    font-size: 20px;
  }
  .social-bott ul {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .contactItem {
    display: block;
  }
  .soc-kruzic {
    height: 30px;
    width: 30px;
    font-size: 15px;
  }
}

/* Bottom
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bottom-copyr {
  background: #006b43;
  text-align: left;
}

.bottom-copyr p {
  padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
	color: white;
}

/*
-------------------------------------------------- */

.vertical-align {
  position:relative;
  top:50%;
  transform:translateY(-50%);
}


/* Dostava
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#gmap {
  display: block;
  width: 100%;
  height: 550px;
}

.dostava-wrapper {
  overflow: hidden;
  background-color: #fff6f0;
  width: 100%;
 }


.kontakt-wrapper {
  display: block;
  height: auto;
  padding: 20px 0 71px;
  background-image: url("../images/dsc_mini.jpg");
  background-size: cover;
}

.kontakt {
  display: block;
  clear: both;
}

.kontakt div {
  margin: 20px 0 20px;
  color: #ffffff;
}

.kontakt div h3 {
  color: #f08332;
  font-family: "Lato", sans-serif;
  font-size: 43px;
  font-weight: 900;
  line-height: 50px;
  padding-top: 71px;
}

.dostava-naslov {
  margin-top: 98px;
  margin-bottom: 71px;
  font-family: "Lato", sans-serif;
  font-size: 43px;
  font-weight: 900;
  line-height: 50px;
  text-align: center;
  color: #006B43;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.dostava-description {
  overflow: hidden;
  margin-bottom: 40px;

}

.dostava-description div {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 90px;
}

@media all and (max-width: 768px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #gmap{
    height: 400px;
  }

  .dostava-description div {
    margin-bottom: 64px;
  }

  .kontakt {
    padding-top: 50px;
    text-align: center;
  }

  .kontakt div h3 {
    padding-top: 15px;
  }
}


/*
-------------------------------------------------- */



/* Meni
-------------------------------------------------- */

.meni-kobaje {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.slika {
  position: relative;
  right: 10%;
  text-align: center;
  z-index: 100;
}


.sekcija-1 {
    background-color: #006b43;
    font-family: "Open Sans", sans-serif;
}

}
.sekcija-1 td {
    color: red;
    white-space:nowrap;
    border-right: 1px solid #DFDFDF;
}

.sekcija-2 {
    background-color: #fff6f0;
    font-family: "Open Sans", sans-serif;
}

.sekcija-2 td {
    color: black;
}


.sekcija-3 {
    background-color: #006b43;
    font-family: "Open Sans", sans-serif;
}

.sekcija-3 td {
    color: white;
}


.sekcija-4 {
    background-color: #fff6f0;
    font-family: "Open Sans", sans-serif;
}

.sekcija-4 td {
    color: black;
}

.sekcija-5 {
    background-color: #006b43;
    font-family: "Open Sans", sans-serif;
}

.sekcija-5 td {
    color: white;
}

.sekcija-6 {
    background-color: #fff6f0;
    font-family: "Open Sans", sans-serif;
}

.sekcija-6 td {
    color: black;
}
.tabela {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 5rem:

}

.ribbon {
   width: 65%;
   position: absolute;
   left: 17.5%;
   bottom: 10%;
   text-align: center;

   }
.ribbon h1 {
   font-size: 65px!important;
   font-weight:bold;
   color: #F58634;
   /* text-shadow: #d65c5c 0 1px 0; */
   font-family: 'Kaushan Script',Helvetica, sans-serif;
   text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
   margin:0px;
   padding: 15px 10px;
   }
.shadow5 {

@media all and (max-width: 783px) {
  .ribbon h1{
    font-size: 18px!important;
  }
}
